*{
    background-color: black;
}

body{
  width: 970px;
  margin: auto;
  padding: 30px;
}
.logo{
   height:1Opx;
   width: 50px;
}
.salutations{
    font-family: "Open Sans", sans-serif;
    color: white;
    font-size: 400%;
    margin-bottom: 0px;
}

.salutations_soutitle{
    font-family: "Open Sans", sans-serif;
    color: gainsboro;
    font-size: 150%;
}

.section_first_on_landing{
    padding: 2px;
}
.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
  }
  
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
  }
  
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  .header a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .header a.active {
    background-color: dodgerblue;
    color: white;
  }
  
  .header-right {
    float: right;
  }
  .section_salutions{
    padding: 0px;
    width: 40%;
  }

@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");


.footer-social-links{
    font-size: 14px;
  text-align: center;
  margin-top: 20%;
}
.footer-social-links a{
    width: 25px;
    height: 25px;
    line-height: 25px !important;
    position: relative;
    margin: 0 5px;
    text-align: center;
    display: inline-block;
    color: #111;
    
    -webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);  
    -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000); 
    -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000); 
    transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
}
.footer-social-links a i,
.footer-social-links a span{
    position: relative;
    top: 2px;
    left: 1px; 
}
.footer-social-links a:before{
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #111;
    
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    
    -webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);  
    -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000); 
    -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000); 
    transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    
}
.footer-social-links a:hover{
    color: #fff;
}
.footer-social-links a:hover:before{
    background: #111;
}
.firstSection{
  margin-top: 20%;
}

.sectionOflinks{
  font-size: 33px;
  text-align: center;
  margin-top: 30%;
  margin-bottom: 30%;
}

.title_works{
  color: white;
  font-size: 400%;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 5%;
  font-weight: 900;
}
.article_a_work{
  padding: 4px;
}
.textWrokArticle{
  color: white;
  font-family: "Open Sans", sans-serif;
}
.titleWorkArticle{
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 150%;
}
.titleDiplomaArticle{
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 130%;
  margin-bottom: -21px;
}
.dividerArticleWork{
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
}
.technologies_section{
  align-items: center;
  text-align: center;
}
.round_bnulet{
  color: white;
  border: 2px solid white;
  border-radius: 44px;
  padding: 10px;

  height: fit-content; 
}
.containerFlex{
  display: flex;
}
.elementFlex {
  flex: 1; /* Optional: Makes the elements take up equal space */
  padding: 10px;
  margin: 10px;
}

.image_entreprise{
  width: 76%;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}

.textExpiriencekArticle{
  color: whites;
  font-size: 120%;
  font-family: "Open Sans", sans-serif;
}
.timeWorking{
  color: white;
  text-align: center;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  font-size: 110%;
}
.text_contact{
  color:white;
  
}
.back_green{
  background-color: green;
}
.back_purple{
  background-color: purple;
}
.back_aquamarine{
  background-color:aquamarine;
  color: #111;
}
.back_blue{
  background-color: blue;
}
.subtitleTech{
  text-align: center;
  color: white;
  font-size: 200%;
  font-family: "Open Sans", sans-serif;
}


.imageschool{
  width: 76%;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}
.title_section{
  color: gray;
  font-family: "Open Sans", sans-serif;
  font-size: xx-large;
}

.container {
  display: flex;
}

.cardContainer{
  display: grid;
  grid-template-columns: repeat(auto-fit, 160px);
  gap: 5px;
}
.cardContainerLanguage {
  display: grid;
  grid-template-columns: repeat(auto-fit, 182px);
  gap: 10px;
  justify-content: center;
}
.languagebulet{
  color: white;
  border: 2px solid white;
  border-radius: 44px;
  padding: 10px;
  height: fit-content; 
  width: fit-content; 
  font-weight: 800;
  font-family: 'Open Sans', sans-serif;
}
.clickable-section {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Maintain the same text color */
}
.clickable-section:hover {
  cursor: pointer; /* Change cursor on hover */
}
  @media screen and (max-width: 500px) {
    .languagebulet{
      color: white;
      border: 2px solid white;
      border-radius: 44px;
      padding: 10px;
      height: fit-content; 
      width: fit-content; 
      font-weight: 800;
      font-family: 'Open Sans', sans-serif;
      font-size: 55%;
    }
    .container {
      display: flex;
      gap: 10px;
    }

    .title_section{
      color: gray;
      font-family: "Open Sans", sans-serif;
      font-size: x-large;
    }
    .textExpiriencekArticle{
      color: cornflowerblue;
      font-size: 85%;
      font-family: "Open Sans", sans-serif;
    }
    .imageschool{
      width: 100%;
      text-align: center;
      display: block;
      margin-left: auto;
      margin-right:  10%;
      border-radius: 10px;
    }

    .cardContainer{
      display: grid;
      grid-template-columns: repeat(auto-fit, 130px);
      gap: 10px;
      justify-content: center;
    }
    .cardContainerLanguage {
      display: grid;
      grid-template-columns: repeat(auto-fit, 119px);
      gap: 10px;
      justify-content: center;
    }
    
    .timeWorking{
      color: white;
      text-align: center;
    }
    .titleWorkArticle {
      color: white;
      font-family: "Open Sans", sans-serif;
      font-size: 90%;
    }
    .titleDiplomaArticle{
      color: white;
      font-family: "Open Sans", sans-serif;
      font-size: 90%;
      margin-bottom: 0;
    }
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .fleshe{
      display: none;
    }
    .header-right {
      float: right;
    }
    .topMobile{
      margin-top: 70% ;
    }
    .salutations{
        font-family: "Open Sans", sans-serif;
        color: white;
        font-size: 150%;
        margin-bottom: 0px;
    }
   
    body{
        width: auto;
        margin: auto;
       padding-left:35px;
       padding-right:35px;
       padding-bottom: 10px;
    }
    .salutations_soutitle{
        font-family: "Open Sans", sans-serif;
        color: gainsboro;
        font-size: 90%;
    }

    .sectionOflinks{
      font-size: 33px;
      text-align: center;
      margin-top: 45%;
      gap: 300px;
    }
    .section_animation{
      display: none;
    }
    .image_aboutme{
      height: 40%;
    }
    .container {
      display: flex;
      flex-wrap: wrap;
    }
    .element {
      flex: 100%; /* Stack elements vertically on smaller screens */
      margin: 5px 0;
    }
    .section_image_aboutme{
      text-align: center;
      width: 52%;
      margin-bottom: auto;
    }
    .image_aboutme{
      height: 45%;
      height: 30%;
      width: -moz-available;
    }
    .firstSection{
      margin-top: 50%;
      margin-bottom: 30%;
    }
    .section_works{
      margin-top: 80%;
    }
    .title_works{
      color: white;
      font-size: 200%;
      font-family: "Open Sans", sans-serif;
      margin-bottom: 3%;
      font-weight: 900;
    }
    .elementflex {
      box-sizing: border-box;
    }
    .round_bnulet{
      color: white;
      border: 2px solid white;
      border-radius: 44px;
      padding: 10px;
      height: fit-content; 
      font-size: 90%;

    }
  }

.lighmode{
  border-color: transparent;
}

.section_animation{
  float: right;
}


.element {
  flex: 1; /* Optional: This makes the elements take up equal space */
}

.scroll-downs {
  width :134px;
  height: 155px;
  margin-top: 100%;
}
.mousey {
  width: 3px;
  padding:30px 25px;
  height: 35px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller {
  width: 5px;
  height: 20px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}
.text{
  color: white;
  font-family: "Open Sans", sans-serif;
}


.image_aboutme{
  height: 45%;
}
.section_image_aboutme{
  text-align: center;
  width: 52%;
}

.abautme_section{
  margin-top: 20%;
  flex: auto;
}

.title_works{
  color: white;
}